 <style> form div { padding: 10px; } </style>

<h1> Flashcards </h1>
<div class="Question">

<% if @wrong %>
    <h1 style="color:red"><%= @wrong %></h1>
    <h2> <%=@card.answer %></h2>
  <% end %>

  <% if @correct %>
    <h1 style="color:limegreen"><%= @correct %></h1>
    <h2> <%=@card.answer %></h2>
  <% end %>

<h2>Question: <%=@card.question %></h2>

<% if !@wrong && !@correct %>

  <%= form_with url:  deck_card_path, method: :patch do |form| %>
    <%= form.label :guess, 'Enter your guess:' %>
    <%= form.text_field :guess, id: :guess %>
    <%= form.submit value: 'Submit' %>
  <% end %>

<% end %>

<button><a href='/decks/<%= @card.deck_id %>/cards/<%= @card.id.next %>'>Next</a></button>

<br><br>
<a href="/decks">index</a>